<a href="" class="card album-card col-2 m-4">
<div >
  <img class="album-img" src="{{this.albumCover}}" alt="{{this.title}}">
  <div>
    <h5 class="text-center">{{this.title}}</h5>
    <p class="text-center">{{this.artist}}</p>
    </div>
</div>
</a>