html {
  height: 100%; }

body {
  padding: 80px;
  height: 100%;
  font: 14px 'Lato', Helvetica, Arial, sans-serif;
  background-color: black;
  background: url("/images/johnny-cash.jpg") no-repeat center center fixed;
  background-size: auto 100%;
  background-position: center 80px; }

a {
  color: #00B7FF; }

.form-custom-border {
  border: 1px solid white; }

.track-group {
  display: inline; }

.noAccess {
  background: url("/images/no-access.jpg") no-repeat;
  background-size: 100%;
  height: 800px; }

.nav-logo {
  height: 50px;
  width: auto; }

.navbar-custom {
  background-color: darkred;
  color: white; }

.nav-link-custom {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 24px; }

.nav-signupLogin-custom, .signup-exit-btn {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 300; }

.nav-signupLogin-custom:hover, .signup-exit-btn:hover {
  color: white;
  text-shadow: 4px 4px 3px #000000;
  border-color: none;
  outline: none; }

.signup-exit-btn:active {
  border: none;
  outline: none; }

.nav-link-custom:hover {
  color: white;
  text-shadow: 4px 4px 3px #000000; }

.logoLink {
  display: inline-flex;
  align-items: center; }

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  margin-top: 10px;
  margin-left: -150px;
  background-color: darkred; }

#login-dp .help-block {
  font-size: 12px; }

#login-dp .bottom {
  background-color: darkred;
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
  margin: 0 auto;
  color: white; }

#login-dp .form-group {
  margin-bottom: 10px; }

#logout-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  margin-top: 10px;
  margin-left: -47px;
  background-color: darkred; }

#logout-dp .help-block {
  font-size: 12px; }

#logout-dp .bottom {
  background-color: darkred;
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
  margin: 0 auto;
  color: white; }

#logout-dp .form-group {
  margin-bottom: 10px; }

.signuplink {
  color: black !important; }

.signuplink:hover {
  color: black;
  text-shadow: 1px 1px 2px white;
  text-decoration: none; }

.btn-fb {
  color: #fff;
  background-color: black;
  border-color: darkred; }

.btn-fb:hover {
  color: white;
  background-color: black;
  border-color: white; }

.custom-signup-modal {
  background-color: darkred;
  color: white; }

@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff; }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none; } }

.nav-search {
  padding-right: 100px; }

.album-card, .detail-card {
  display: block;
  margin: 5 auto;
  background-color: rgba(136, 0, 0, 0.8);
  color: white;
  border-radius: 10px; }

.album-img {
  width: 90%;
  margin: 10px; }

.album-container {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3); }

.album-card:hover {
  box-shadow: 0px 0px 15px 10px white;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 4px black; }

.album-card:hover .album-img {
  box-shadow: 2px 2px 4px black; }

.detail-card {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 50px; }

.detail-img {
  width: 300px;
  margin-bottom: 25px; }

.detail-head {
  margin-top: 50px; }

.detail-column {
  padding-right: 50px; }

.tracklisting-title {
  text-decoration: underline; }

.tracklisting {
  padding-left: 50px;
  border-left: 2px solid white; }

.profile {
  padding: 0;
  width: 60%; }

.profile-page {
  background-color: rgba(136, 0, 0, 0.8);
  color: white;
  margin-top: 100px;
  padding-bottom: 50px; }

.custom-center {
  margin-left: 219px; }

/*# sourceMappingURL=style.css.map */